.navbar{
background-color: #003580;
height: 50px;
justify-content: center;
display: flex;

}

.navContainer{
    width: 100%;
    max-width: 1024px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  

}



.Lamabooking{
    font-weight: 600;
    margin-top: 20px;
    color: white;
    text-decoration: none;
}





.navBtn {
    text-decoration: none;
    color: #003580;
    background-color: white; /* Or any color you want */
    border: none;
    padding: 7px 15px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    margin-right: 10px; /* Add margin to create space */
    margin-top: 15px;
  }
  
  .navBtn:last-child {
    margin-right: 0; /* Remove margin for the last anchor tag */
  }
  
  .navBtn:hover {
    background-color: #0056b3; /* Adjust for hover effect */
    color: white;
  }
  

.navItems{
    /* background-color: aliceblue; */
    display: flex;
    justify-content: space-between;
}
